* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px 16px 120px;
}
.img img {
  width: 139px;
  height: 60px;
}

.link ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  text-decoration: none;
  gap: 32px;
  font-family: system-ui;
  font-size: 16px;
  font-weight: 500;
  line-height: 152%;
  letter-spacing: 0;
  text-align: left;
  text-transform: capitalize;
}
.link a {
  text-decoration: none;
  color: black;
}
.btn button {
  width: 164px;
  height: 44px;
  border-radius: 4px;
  background-color: #30b868;
  border: none;
  padding: 12px 16px 12px 16px;
  color: rgba(255, 255, 255, 1);
  font-family: system-ui;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0;
  text-align: center;
  text-transform: capitalize;
}
.hero-sec {
  width: 100%;
  height: 674px;
  background-image: url("./asset/cropped-hands-woman-writing-book\ 1.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.shape {
  border: none;
  border-radius: 1000px;
  background-color: rgb(255, 255, 255, 1);
  padding: 8px 12px 8px 12px;
  width: 229px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-family: system-ui;
  font-weight: 500;
  letter-spacing: 0;
  text-align: center;
  color: rgb(70, 145, 101, 1);
}
.outer {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: rgba(70, 145, 101, 1);
  border: 1px solid rgba(70, 145, 101, 0.7);
  outline: 4px solid rgba(70, 145, 101, 0.4);
  box-sizing: border-box;
}
.Structure {
  width: 770px;
  height: 168px;
}
.Structure p {
  font-family: system-ui;
  font-style: Bold;
  font-size: 72px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  opacity: 0.9;
  color: rgb(255, 255, 255);
}
.Structure span {
  font-family: system-ui;
  font-style: Bold;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  opacity: 0.9;
  display: block;
  color: rgb(50, 238, 128);
}
.Second-para {
  width: 1360px;
  height: 60px;
}
.Second-para p {
  color: rgba(255, 255, 255, 1);
  font-family: system-ui;
  font-style: Regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: center;
}
.Second-para span {
  display: block;
}
.btn-2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
  width: 465px;
  height: 52px;
}
.btn-a {
  width: 251px;
  height: 52px;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  background-color: #30b868;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255, 1);
  font-family: system-ui;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0;
  text-align: left;
  text-transform: capitalize;
  gap: 10px;
}
.btn-a img {
  width: 20px;
  height: 20px;
  color: rgb(255, 255, 255, 1);
}
.btn-b {
  width: 198px;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: row;
  align-items: center;
  gap: 10px;
  padding: 12px 16px 12px 16px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
  color: rgb(255, 255, 255, 1);
  font-family: system-ui;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0;
  text-align: right;
  background: transparent;
}
.btn-b img {
  width: 20px;
  height: 20px;
  color: rgb(255, 255, 255, 1);
}
