* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px 16px 120px;
}
.img img {
  width: 139px;
  height: 60px;
}

.link ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  text-decoration: none;
  gap: 32px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 152%;
  letter-spacing: 0;
  text-align: left;
  text-transform: capitalize;
}
.link a {
  text-decoration: none;
  color: black;
}
.btn button {
  width: 164px;
  height: 44px;
  border-radius: 4px;
  background-color: #30b868;
  border: none;
  padding: 12px 16px 12px 16px;
  color: rgba(255, 255, 255, 1);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0;
  text-align: center;
  text-transform: capitalize;
}
.hero-sec {
  width: 100%;
  height: 674px;
  background-image: url("./asset/cropped-hands-woman-writing-book\ 1.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.shape {
  border: none;
  border-radius: 1000px;
  background-color: rgb(255, 255, 255, 1);
  padding: 8px 12px 8px 12px;
  width: 229px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  text-align: center;
  color: rgb(70, 145, 101, 1);
}
.outer {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: rgba(70, 145, 101, 1);
  border: 1px solid rgba(70, 145, 101, 0.7);
  outline: 4px solid rgba(70, 145, 101, 0.4);
  box-sizing: border-box;
}
.Structure {
  width: 770px;
  height: 168px;
}
.Structure p {
  font-family: "Inter", sans-serif;
  font-style: Bold;
  font-size: 72px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  opacity: 0.9;
  color: rgb(255, 255, 255);
}
.Structure span {
  font-family: "Inter", sans-serif;
  font-style: Bold;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  opacity: 0.9;
  display: block;
  color: rgb(50, 238, 128);
}
.Second-para {
  width: 1360px;
  height: 60px;
}
.Second-para p {
  color: rgba(255, 255, 255, 1);
  font-family: "Inter", sans-serif;
  font-style: Regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: center;
}
.Second-para span {
  display: block;
}
.btn-2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
  width: 465px;
  height: 52px;
}
.btn-a {
  width: 251px;
  height: 52px;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  background-color: #30b868;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255, 1);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0;
  text-align: left;
  text-transform: capitalize;
  gap: 10px;
}
.btn-a img {
  width: 20px;
  height: 20px;
  color: rgb(255, 255, 255, 1);
}
.btn-b {
  width: 198px;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: row;
  align-items: center;
  gap: 10px;
  padding: 12px 16px 12px 16px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
  color: rgb(255, 255, 255, 1);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0;
  text-align: right;
  background: transparent;
}
.btn-b img {
  width: 20px;
  height: 20px;
  color: rgb(255, 255, 255, 1);
}
.sec-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 44px;
  padding: 120px;
}
.Sec-1-part-1 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.big-text {
  width: 1360px;
  height: 116px;
  color: rgba(0, 25, 49, 1);
  font-family: "Inter", sans-serif;
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
.small-text {
  width: 1360px;
  height: 20px;
  color: rgba(98, 115, 130, 1);
  font-family: "Inter", sans-serif;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.Sec-1-part-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24;
}
.card {
  width: autopx;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16;
  padding: 24px;
}
.ellipse {
  width: 60px;
  height: 90px;
  background: rgb(255, 0, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ellipse img {
  width: 32px;
  height: 32px;
  color: rgba(255, 255, 255, 1);
}
.card-text {
  width: auto;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding: 24px;
}
.heading {
  width: 274px;
  height: 29px;
  color: rgba(0, 25, 49, 1);
  font-family: "Inter", sans-serif;
  font-style: Semi Bold;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
.subtitle {
  width: 274px;
  height: 40px;
  color: rgba(98, 115, 130, 1);
  font-family: "Inter", sans-serif;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 80px;
  padding: 120px 120px 30px 120px;
  background-color: rgba(0, 25, 49, 1);
}
.container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.container-1 img {
  width: 139px;
  height: 60px;
}
.s-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.s-link ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  color: rgb(255, 255, 255, 1);
}
.s-link p {
  color: rgba(255, 255, 255, 1);
  font-family: "Inter", sans-serif;
  font-style: Medium;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.container-2 {
  width: auto;
  height: 0px;
  border: 1px solid rgba(229, 231, 235, 1);
  opacity: 0.2;
}
.container-3 {
  width: auto;
  height: auto;
  color: rgba(250, 250, 250, 1);
  font-family: Inter;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.s3main {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  padding: 80px 40px 80px 40px;
  border-radius: 12px;
  background: rgba(247, 246, 242, 1);
}
.sec-3 {
  width: auto;
  height: 506px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40 px;
  padding: 120px;
}
.sec-3-text {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.p-1 {
  width: 1280px;
  height: 48px;
  color: rgba(0, 25, 49, 1);
  font-family: Inter;
  font-style: Bold;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
.p-2 {
  width: 1280px;
  height: 48px;
  color: rgba(98, 115, 130, 1);
  font-family: Inter;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.sec-3-bp {
  width: 1280px;
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.btn-sec-3 {
  width: 194px;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 16px 12px 16px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  background: rgba(70, 145, 101, 1);
}
.p-3 {
  width: 1280px;
  height: 20px;
  color: rgba(98, 115, 130, 1);
  font-family: Inter;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.sec-2 {
  width: auto;
  height: 840px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding: 120px;
}
.img-sec {
  width: 600px;
  height: 600px;
  border-radius: 12px;
  background: url("./asset/image 7.png");
}
.text-conatiner {
  width: 700px;
  height: 396px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}
.s2-title {
  color: rgba(70, 145, 101, 1);
  font-family: Inter;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.s2-heading {
  color: rgba(0, 25, 49, 1);
  font-family: Inter;
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}
.s2-text {
  color: rgba(98, 115, 130, 1);
  font-family: Inter;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: justify;
}
.s2-point {
  width: 700px;
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.s2-point p {
  color: rgba(0, 25, 49, 1);
  font-family: Inter;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  
}
.s2-point img {
  width: 20px;
  height: 20px;
  color: rgba(48, 184, 104, 1);
  padding: 0.5px;
}
.righ-contai {
  width: 700px;
  height: 396px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}
