* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px 16px 120px;
}
.img img {
  width: 139px;
  height: 60px;
}

.link ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  text-decoration: none;
  gap: 32px;
  font-family: system-ui;
  font-size: 16px;
  font-weight: 500;
  line-height: 152%;
  letter-spacing: 0;
  text-align: left;
  text-transform: capitalize;
}
.link a {
  text-decoration: none;
  color: black;
}
button{
    width: 164px;
    height: 44px;
    border-radius: 4px;
    background-color: #30B868;
    border: none;
    padding: 12px 16px 12px 16px;
    color: rgba(255, 255, 255, 1);
    font-family: system-ui;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0;
    text-align: center;
    text-transform: capitalize;
}
.hero-sec{
    width: 100%;
    height: 674px;
}
.hero-sec img{
    width: 100%;
    height: 100%;
}